{% load form_tags %}

<form class="filter-form" method="get">
    <div class="row g-3">
        <div class="col-md-4">
            <div class="form-group">
                <label for="id_objects_name" class="form-label">Название объекта</label>
                {{ filter.form.objects_name|add_class:"form-control" }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="id_inventory_number" class="form-label">Инвентарный номер</label>
                {{ filter.form.inventory_number|add_class:"form-control" }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="id_base" class="form-label">База</label>
                {{ filter.form.base|add_class:"form-select" }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="id_office" class="form-label">Офис</label>
                {{ filter.form.office|add_class:"form-control" }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="id_accountable_user" class="form-label">Ответственный пользователь</label>
                {{ filter.form.accountable_user|add_class:"form-control" }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="id_start_data" class="form-label">Дата ввода</label>
                {{ filter.form.start_data|add_class:"form-control" }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="id_start_data_gte" class="form-label">Дата ввода от</label>
                {{ filter.form.start_data_gte|add_class:"form-control" }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="id_start_data_lte" class="form-label">Дата ввода до</label>
                {{ filter.form.start_data_lte|add_class:"form-control" }}
            </div>
        </div>
    </div>
    <hr>
    <div class="d-flex justify-content-end mt-3">
        <button type="submit" class="btn btn-primary me-2">Применить фильтры</button>
        <a href="{% url 'home' %}" class="btn btn-secondary">Сбросить фильтры</a>
    </div>
</form> 