{% extends 'index.html'%}

{% block title %} Инвентарные данные {% endblock %}


<h1>{% block header %}Инвентарные данные{% endblock %}</h1>

{% block content %}


 
{% include 'form_filter.html' %}
{% include 'pagination.html' %}
{% include 'inventory_objects_table.html' %}
{% include 'pagination.html' %} 
{% include 'modal_no_records.html' %}
<!-- Модальное окно если нет результатов поиска -->

{% if not page_obj %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var noRecordsModal = new bootstrap.Modal(document.getElementById('noRecordsModal'));
            noRecordsModal.show();
        });
    </script>
{% endif %}

    <script>
          function toggleDetails(id) {
            var detailsRow = document.getElementById(id);
            if (detailsRow.style.display === "none") {
                detailsRow.style.display = "table-row";
            } else {
                detailsRow.style.display = "none";
            }
        }
    </script>
{% endblock %}
</body>
