{% extends "index.html" %}

{% load form_tags %}




<h1>{% block header %}Создать инвентаризационный объект{% endblock %}</h1>

{% block content %}
<form method="post">

    {% csrf_token %}

    <div class="mb-3">
        <label for="id_name">Название:</label>
        {{ form.objects_name|add_class:"form-control" }}
    </div>

    <div class="mb-3">
        <label for="id_inventory_number">Инвентаризационный номер:</label>
        {{ form.inventory_number|add_class:"form-control" }}
    </div>

    <div class="mb-3">
        <label for="id_value">Стоимость:</label>
        {{ form.value|add_class:"form-control" }}
    </div>

    <div class="mb-3">
        <label for="id_base">База:</label>
        {{ form.base|add_class:"form-select" }}
    </div>

    <div class="mb-3">
        <label for="id_office">Кабинет:</label>
        {{ form.office|add_class:"form-control" }}
    </div>

    <div class="mb-3">
        <label for="id_user_name">Ответственный:</label>
        {{ form.accountable_user|add_class:"form-control" }}
    </div>

    <div class="mb-3">
        <label for="id_user_name">Состояние учёта:</label>
        {{ form.state|add_class:"form-select" }}
    
    </div>
    
    <button type="submit" class="btn btn-primary">Создать</button>

</form>

{% endblock %}


