
 <div class="pagination">
    
    <span class="step-links mt-3">
       
       

        <span class="current ">

            <b >Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}. </b>

        </span>

<div class='mt-4'>
    
        {% if page_obj.has_previous %}
    
            <a href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page=1" class="btn btn-outline-primary">&laquo; Первая</a> 
            
            <a href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ page_obj.previous_page_number }}" class="btn btn-outline-primary">Предыдущая</a>
        {% endif %}

        {% if page_obj.has_next %}
            <a href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ page_obj.next_page_number }}" class="btn btn-outline-primary">Следующая</a>
            <a href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-primary">Последняя &raquo;</a>
        {% endif %}
    </span>
</div>
</div>